  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Archivo de datos subido</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <tr>
                            {% for x in columns_list %}
                            <th>{{ x }}</th>
                            {% endfor %}
                          </tr>
                    </tr>
                </thead>
               
                
                <tbody>
                    {% for value in metrics_list%}                                  
                    <tr>
                        <td>{{ value[0] }}</td>
                        <td>{{ value[1] }}</td>
                        <td>{{ value[2] }}</td>
                        <td>{{ value[3] }}</td>
                        <td>{{ value[4] }}</td>
                        <td>{{ value[5] }}</td>
                        <td>{{ value[6] }}</td>
                        <td>{{ value[7] }}</td>
                        <td>{{ value[8] }}</td>                                          
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

</div>
<!-- /.container-fluid -->








<div align="center">
    <table>
        <h1>
        <!--Displaying the converted table-->
             {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>                            
            {{ table|safe }}
            {% endfor %}     
        </h1> 
    </table>
</div>
